## Preprocessing

In [2]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\abc\anaconda3\envs\dev\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.25.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: six>=1.12.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: numpy>=1.23.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.24.3)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.2)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: packaging in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: setuptools in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (67.8.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.29.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.7.22)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
count = application_df.value_counts("APPLICATION_TYPE")
count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff = 528
application_types_to_replace = count[count<=cutoff].index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
value_counts = application_df.value_counts("CLASSIFICATION")
value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = list(value_counts[value_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
df_convert = pd.get_dummies(application_df, dtype=float)
df_convert.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
x = df_convert.drop('IS_SUCCESSFUL', axis=1)
y = df_convert['IS_SUCCESSFUL']


x

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [13]:

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test= train_test_split(x,y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=42))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=12, activation="relu"))



# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                430

 dense_7 (Dense)             (None, 12)                132

 dense_8 (Dense)             (None, 1)                 13

=================================================================
Total params: 575 (2.25 KB)
Trainable params: 575 (2.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5998 - accuracy: 0.6992
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5624 - accuracy: 0.7245
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7286
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7294
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7295
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7296
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7301
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7317
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7316
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7312
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7325
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7330
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7319
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7320
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7327
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7332
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7328
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7332
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7339
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7339
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7348
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7357
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7339
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7347
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7347
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7346
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7353
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7355
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7360
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7354
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7365

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5510 - accuracy: 0.7300 - 471ms/epoch - 2ms/step
Loss: 0.550959050655365, Accuracy: 0.7300291657447815

In [28]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')