In [19]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\abc\anaconda3\envs\dev\lib\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: numpy>=1.23.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.24.3)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.25.0)
Requirement already satisfied: six>=1.12.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: libclang>=13.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.5.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: packaging in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.2)
Requirement already satisfied: setuptools in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (67.8.0)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.38.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.29.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.4)
Requirement already satisfied: markdown>=2.6.8 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.2.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\abc\anaconda3\envs\dev\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
count = application_df.value_counts("APPLICATION_TYPE")
count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff = 750
application_types_to_replace = count[count<=cutoff].index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
value_counts = application_df.value_counts("CLASSIFICATION")
value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [41]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1200
classifications_to_replace = list(value_counts[value_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [42]:
# Convert categorical data to numeric with `pd.get_dummies`
df_convert = pd.get_dummies(application_df, dtype=float)
df_convert.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
# Split our preprocessed data into our features and target arrays
x = df_convert.drop('IS_SUCCESSFUL', axis=1)
y = df_convert['IS_SUCCESSFUL']


x

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [52]:

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test= train_test_split(x,y, random_state=1)

In [53]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [101]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=40))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=12, activation="relu"))

#Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu"))




# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_60 (Dense)            (None, 10)                410

 dense_61 (Dense)            (None, 12)                132

 dense_62 (Dense)            (None, 5)                 65

 dense_63 (Dense)            (None, 1)                 6

=================================================================
Total params: 613 (2.39 KB)
Trainable params: 613 (2.39 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [102]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [105]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=70)

Epoch 1/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7352
Epoch 2/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7349
Epoch 3/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7353
Epoch 4/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7346
Epoch 5/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7349
Epoch 6/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7347
Epoch 7/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7354
Epoch 8/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7352
Epoch 9/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 10/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7355
Epoch 11/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7354
Epoch 12/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7354
Epoch 13/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7355
Epoch 14/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7352
Epoch 15/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7348
Epoch 16/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7352
Epoch 17/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7348
Epoch 18/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 19/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7354
Epoch 20/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7348
Epoch 21/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7357
Epoch 22/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7346
Epoch 23/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7359
Epoch 24/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 25/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7354
Epoch 26/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7358
Epoch 27/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7353
Epoch 28/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 29/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7354
Epoch 30/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7353
Epoch 31/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7353
Epoch 32/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7352
Epoch 33/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7356
Epoch 34/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7358
Epoch 35/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7355
Epoch 36/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7353
Epoch 37/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7358
Epoch 38/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7355
Epoch 39/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7355
Epoch 40/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7363
Epoch 41/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7361
Epoch 42/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7351
Epoch 43/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7359
Epoch 44/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7365
Epoch 45/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7360
Epoch 46/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7362
Epoch 47/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7364
Epoch 48/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7358
Epoch 49/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7362
Epoch 50/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7359
Epoch 51/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7359
Epoch 52/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7362
Epoch 53/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 54/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7366
Epoch 55/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7367
Epoch 56/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7365
Epoch 57/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7362
Epoch 58/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7364
Epoch 59/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7366
Epoch 60/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7367
Epoch 61/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7367
Epoch 62/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7362
Epoch 63/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7364
Epoch 64/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7359
Epoch 65/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7365
Epoch 66/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7361
Epoch 67/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7366
Epoch 68/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7365
Epoch 69/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7369
Epoch 70/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7365

In [108]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5561 - accuracy: 0.7273 - 370ms/epoch - 1ms/step
Loss: 0.5561416745185852, Accuracy: 0.7273469567298889

In [107]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharityoptimized.h5')